.collection-editor-container {
  display: flex;
  height: 100%;
}

.collection-editor-sidebar {
  flex: 0.3;
  border-right: 1px solid var(--secondary-alt-color);
  overflow-y: scroll;
  padding: 0.5em;
}


.collection-editor-sidebar-name {
  text-overflow: ellipsis;
  overflow: hidden;
  margin-left: 0.5em;
}

.collection-editor-sidebar.expanded {
  flex: auto;
}

.collection-editor-body {
  flex-grow: 1;
  overflow-y: auto;
  background-color: var(--secondary-color);
}