/* Global styles */

body, html {
  height: 100%;
  margin: 0;
  font-family: sans-serif;
}

html * {
  font-size: 14px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  overflow: auto; 
  scrollbar-width: none;
  -ms-overflow-style: none;
}

*::-webkit-scrollbar {
  display: none;
}

.var-def {
  --primary-color: #FF9B45;
  --primary-text-color: white;
  --secondary-color: #fbfbfb;
  --secondary-alt-color: #eeeeee;
  --secondary-text-color: #121212;
  --transparent-color: rgba(0, 0, 0, 0.05);
  --transparent-color-active: rgba(0, 0, 0, 0.1);
  --transparent-text-color: #121212;
  --backdrop-color: rgba(0, 0, 0, 0.25);
}

.custom-button {
  border: none;
  padding: 0.5em;
  border-radius: 5px;
}

.custom-button.normal {
  background-color: var(--primary-color);
  color: var(--primary-text-color);
}

.custom-button.normal:hover {
  background-color: color-mix(in srgb, var(--primary-color), black 10%);
}

/* App.jsx styles */

.main-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.content-container {
  flex-grow: 1;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  background-color: var(--secondary-color);
  color: var(--secondary-text-color);
}

.border-container {
  flex-shrink: 0;
  background-color: var(--primary-color);
  color: var(--primary-text-color);
}